In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [6]:
filePath = 'C2T1_Train.csv'
 
rawDF=pd.read_csv(filePath)

rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90766 entries, 0 to 90765
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id2             90766 non-null  int64
 1   patient_nbr2              90766 non-null  int64
 2   race                      90766 non-null  object
 3   gender                    90766 non-null  object
 4   age                       90766 non-null  object
 5   weight                    90766 non-null  object
 6   admission_type_id         90766 non-null  int64
 7   discharge_disposition_id  90766 non-null  int64
 8   admission_source_id       90766 non-null  int64
 9   time_in_hospital          90766 non-null  int64
 10  payer_code                90766 non-null  object
 11  medical_specialty         90766 non-null  object
 12  num_lab_procedures        90766 non-null  int64
 13  num_procedures            90766 non-null  int64
 14  num_medications           90766 non-null  int64
 15  number_outpatient         90766 non-null  int64
 16  number_emergency          90766 non-null  int64
 17  number_inpatient          90766 non-null  int64
 18  diag_1                    90766 non-null  object
 19  diag_2                    90766 non-null  object
 20  diag_3                    90766 non-null  object
 21  number_diagnoses          90766 non-null  int64
 22  max_glu_serum             5185 non-null   object
 23  A1Cresult                 14839 non-null  object
 24  metformin                 90766 non-null  object
 25  repaglinide               90766 non-null  object
 26  nateglinide               90766 non-null  object
 27  chlorpropamide            90766 non-null  object
 28  glimepiride               90766 non-null  object
 29  acetohexamide             90766 non-null  object
 30  glipizide                 90766 non-null  object
 31  glyburide                 90766 non-null  object
 32  tolbutamide               90766 non-null  object
 33  pioglitazone              90766 non-null  object
 34  rosiglitazone             90766 non-null  object
 35  acarbose                  90766 non-null  object
 36  miglitol                  90766 non-null  object
 37  troglitazone              90766 non-null  object
 38  tolazamide                90766 non-null  object
 39  examide                   90766 non-null  object
 40  citoglipton               90766 non-null  object
 41  insulin                   90766 non-null  object
 42  glyburide-metformin       90766 non-null  object
 43  glipizide-metformin       90766 non-null  object
 44  glimepiride-pioglitazone  90766 non-null  object
 45  metformin-rosiglitazone   90766 non-null  object
 46  metformin-pioglitazone    90766 non-null  object
 47  change                    90766 non-null  object
 48  diabetesMed               90766 non-null  object
 49  readmitted                90766 non-null  object
dtypes: int64(13), object(37)
memory usage: 34.6+ MB

Weight Column has almost all '?' values renderring it useless for the model to train on.

In [7]:
rawDF.drop('weight', axis=1, inplace=True)

In [8]:
rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90766 entries, 0 to 90765
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id2             90766 non-null  int64
 1   patient_nbr2              90766 non-null  int64
 2   race                      90766 non-null  object
 3   gender                    90766 non-null  object
 4   age                       90766 non-null  object
 5   admission_type_id         90766 non-null  int64
 6   discharge_disposition_id  90766 non-null  int64
 7   admission_source_id       90766 non-null  int64
 8   time_in_hospital          90766 non-null  int64
 9   payer_code                90766 non-null  object
 10  medical_specialty         90766 non-null  object
 11  num_lab_procedures        90766 non-null  int64
 12  num_procedures            90766 non-null  int64
 13  num_medications           90766 non-null  int64
 14  number_outpatient         90766 non-null  int64
 15  number_emergency          90766 non-null  int64
 16  number_inpatient          90766 non-null  int64
 17  diag_1                    90766 non-null  object
 18  diag_2                    90766 non-null  object
 19  diag_3                    90766 non-null  object
 20  number_diagnoses          90766 non-null  int64
 21  max_glu_serum             5185 non-null   object
 22  A1Cresult                 14839 non-null  object
 23  metformin                 90766 non-null  object
 24  repaglinide               90766 non-null  object
 25  nateglinide               90766 non-null  object
 26  chlorpropamide            90766 non-null  object
 27  glimepiride               90766 non-null  object
 28  acetohexamide             90766 non-null  object
 29  glipizide                 90766 non-null  object
 30  glyburide                 90766 non-null  object
 31  tolbutamide               90766 non-null  object
 32  pioglitazone              90766 non-null  object
 33  rosiglitazone             90766 non-null  object
 34  acarbose                  90766 non-null  object
 35  miglitol                  90766 non-null  object
 36  troglitazone              90766 non-null  object
 37  tolazamide                90766 non-null  object
 38  examide                   90766 non-null  object
 39  citoglipton               90766 non-null  object
 40  insulin                   90766 non-null  object
 41  glyburide-metformin       90766 non-null  object
 42  glipizide-metformin       90766 non-null  object
 43  glimepiride-pioglitazone  90766 non-null  object
 44  metformin-rosiglitazone   90766 non-null  object
 45  metformin-pioglitazone    90766 non-null  object
 46  change                    90766 non-null  object
 47  diabetesMed               90766 non-null  object
 48  readmitted                90766 non-null  object
dtypes: int64(13), object(36)
memory usage: 33.9+ MB

In [9]:
rawDF.isnull().sum()

encounter_id2                   0
patient_nbr2                    0
race                            0
gender                          0
age                             0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               85581
A1Cresult                   75927
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

Drop max_glu_serum & A1Cresult as it is mostly NuLL values.

In [14]:
rawDF.drop('max_glu_serum', axis=1, inplace=True)

KeyError: "['max_glu_serum'] not found in axis"

In [15]:
rawDF.drop('A1Cresult', axis=1, inplace=True)

In [16]:
rawDF.describe(include='all')

,encounter_id2,patient_nbr2,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,9.076600e+04,9.076600e+04,90766,90766,90766,90766.000000,90766.000000,90766.000000,90766.000000,90766,...,90766,90766,90766,90766,90766,90766,90766,90766,90766,90766
unique,NaN,NaN,6,3,10,NaN,NaN,NaN,NaN,18,...,1,4,4,2,2,2,2,2,2,3
top,NaN,NaN,Caucasian,Female,[70-80),NaN,NaN,NaN,NaN,?,...,No,No,No,No,No,No,No,No,Yes,NO
freq,NaN,NaN,67515,48748,23309,NaN,NaN,NaN,NaN,38730,...,90766,42793,90199,90758,90765,90764,90765,49655,69573,49361
mean,1.628244e+08,5.291868e+07,NaN,NaN,NaN,2.025406,3.775092,5.847267,4.408942,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.083792e+08,3.954496e+07,NaN,NaN,NaN,1.454453,5.359248,4.147569,2.995873,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5.283000e+03,5.000000e+00,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.794063e+07,2.220677e+07,NaN,NaN,NaN,1.000000,1.000000,1.000000,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.402534e+08,4.361397e+07,NaN,NaN,NaN,1.000000,1.000000,7.000000,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.421968e+08,8.681160e+07,NaN,NaN,NaN,3.000000,4.000000,7.000000,6.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.438600e+08,1.895025e+08,NaN,NaN,NaN,8.000000,28.000000,25.000000,14.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:

df = pd.read_csv('C2T1_Train.csv')

# Replace '?' with NaN
df = df.replace('?', pd.NA)

# Define columns again, ensuring we're working with the correct data types
num_columns = [col for col in df.columns if df[col].dtype in ['int64', 'float64'] and col not in ['encounter_id2', 'patient_nbr2']]
cat_columns = [col for col in df.columns if df[col].dtype == 'object']

# Impute missing values
num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='most_frequent', add_indicator=True)

df[num_columns] = num_imputer.fit_transform(df[num_columns])
# The categorical imputation needs to be handled differently to avoid the error.
# Manually impute missing values for categorical columns
for col in cat_columns:
    # If a column is categorical, fill missing values with the mode (most frequent value)
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])

# Proceed with OneHotEncoder for categorical variables
onehot_encoder = OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore')
encoded_features = onehot_encoder.fit_transform(df[cat_columns])
encoded_features_df = pd.DataFrame(encoded_features, columns=onehot_encoder.get_feature_names_out(cat_columns))
encoded_features_df.index = df.index  # Ensure alignment of indices

# Remove original categorical columns and merge the encoded features
df = df.drop(cat_columns, axis=1)
df = pd.concat([df, encoded_features_df], axis=1)

# Standardize numerical features (excluding identifiers)
scaler = StandardScaler()
df[num_columns] = scaler.fit_transform(df[num_columns])

# Attempt to display the first few rows of the corrected DataFrame
df.head()

df.to_csv('cleandata.csv', index=False)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
df = pd.read_csv('cleandata.csv')

df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90766 entries, 0 to 90765
Columns: 2377 entries, encounter_id2 to readmitted_NO
dtypes: float64(2375), int64(2)
memory usage: 1.6 GB

In [10]:
df = pd.read_csv('cleandata.csv')

# Remove columns where all values are 0
df = df.loc[:, (df != 0).any(axis=0)]

# Optionally, save the cleaned DataFrame back to a new CSV file
df.to_csv('Cleaned_Trainfixed.csv', index=False)